<a href="https://colab.research.google.com/github/jackty9/Feature_Selection_Wrapper_Methods_in_Python/blob/master/Feature_Selection_Wrapper_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
#Load needed libraries
from sklearn.datasets import load_boston
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [ ]:
#Optional
#An overview of the boston dataset
print(boston.DESCR)

In [38]:
# load_boston() sklearn dataset to boston
boston = load_boston()

# use np.c_ to concatenate into a dataframe
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['PRICE'] = pd.Series(boston.target)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [67]:
#Split the features and target data
#select the first 13 columns as features
X = boston.data
#Select the last column for target 
Y = boston.target

In [69]:
#Build a logistic regression model 
model = LinearRegression()
#Define RFE 
rfe = RFE(model, 3)
#Use RFE to select the top 3 features 
fit = rfe.fit(X, Y)

In [74]:
#Create a df 
df_RFE_results = []
for i in range(X.shape[1]):
    df_RFE_results.append(
        {      
            'Feature_names': boston.feature_names[i],
            'Selected':  rfe.support_[i],
            'RFE_ranking':  rfe.ranking_[i],
        }
    )

df_RFE_results = pd.DataFrame(df_RFE_results)
df_RFE_results.index.name='Columns'
df_RFE_results

        Feature_names  Selected  RFE_ranking
Columns
0                CRIM     False            6
1                  ZN     False            8
2               INDUS     False            7
3                CHAS      True            1
4                 NOX      True            1
5                  RM      True            1
6                 AGE     False           11
7                 DIS     False            3
8                 RAD     False            5
9                 TAX     False            9
10            PTRATIO     False            2
11                  B     False           10
12              LSTAT     False            4

In [73]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')