<a href="https://colab.research.google.com/github/jackty9/Feature_Selection_Wrapper_Methods_in_Python/blob/master/Feature_Selection_Wrapper_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Forward Selection**

In [56]:
#Load needed libraries
from sklearn.datasets import load_boston
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [48]:
# load_boston() sklearn dataset to boston
boston = load_boston()

# use np.c_ to concatenate into a dataframe
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['PRICE'] = pd.Series(boston.target)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [ ]:
#Optional
#An overview of the boston dataset
print(boston.DESCR)

In [51]:
#Split the features and target data
#select the first 13 columns as features
X = df.iloc[:,:13]
#Select the last column for target 
y = df.iloc[:,-1]

In [54]:
#Define Sequential Forward Selection (sfs)
sfs = SFS(LinearRegression(),
           k_features=5,
           forward=True,
           floating=False,
           scoring = 'r2',
           cv = 0)
#Use SFS to select the top 5 features 
sfs.fit(X, y)

SequentialFeatureSelector(clone_estimator=True, cv=0,
                          estimator=LinearRegression(copy_X=True,
                                                     fit_intercept=True,
                                                     n_jobs=None,
                                                     normalize=False),
                          floating=False, forward=True, k_features=5, n_jobs=1,
                          pre_dispatch='2*n_jobs', scoring='r2', verbose=0)

In [55]:
#Create a dataframe for the SFS results 
df_SFS_results = pd.DataFrame(sfs.subsets_).transpose()
df_SFS_results

         feature_idx  ...                   feature_names
1              (12,)  ...                        (LSTAT,)
2            (5, 12)  ...                     (RM, LSTAT)
3        (5, 10, 12)  ...            (RM, PTRATIO, LSTAT)
4     (5, 7, 10, 12)  ...       (RM, DIS, PTRATIO, LSTAT)
5  (4, 5, 7, 10, 12)  ...  (NOX, RM, DIS, PTRATIO, LSTAT)

[5 rows x 4 columns]

# **(Recursive) Backward Elimination**

In [12]:
#Load needed libraries
from sklearn.datasets import load_boston
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [13]:
# load_boston() sklearn dataset to boston
boston = load_boston()

# use np.c_ to concatenate into a dataframe
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['PRICE'] = pd.Series(boston.target)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [ ]:
#Optional
#An overview of the boston dataset
print(boston.DESCR)

In [14]:
#Split the features and target data
#select the first 13 columns as features
X = boston.data
#Select the last column for target 
y = boston.target

In [15]:
#Build a linear regression model 
model = LinearRegression()
#Define RFE by using linear regression model and number of features to be selected
rfe = RFE(model, 5)
#Use RFE to select the top 5 features 
fit = rfe.fit(X, y)

In [18]:
#Create a dataframe for the RFE results 
df_RFE_results = []
for i in range(X.shape[1]):
    df_RFE_results.append(
        {      
            'Feature_names': boston.feature_names[i],
            'Selected':  rfe.support_[i],
            'RFE_ranking':  rfe.ranking_[i],
        }
    )

df_RFE_results = pd.DataFrame(df_RFE_results)
df_RFE_results.index.name='Columns'
print("Selected 5 features using RFE")
df_RFE_results

Selecred 5 features using RFE

        Feature_names  Selected  RFE_ranking
Columns
0                CRIM     False            4
1                  ZN     False            6
2               INDUS     False            5
3                CHAS      True            1
4                 NOX      True            1
5                  RM      True            1
6                 AGE     False            9
7                 DIS      True            1
8                 RAD     False            3
9                 TAX     False            7
10            PTRATIO      True            1
11                  B     False            8
12              LSTAT     False            2